html {
  font-family: "Raleway", "helvetica neue", "helveticaneue", "helveticaneueroman", "helveticaneue-roman", "helvetica neue roman", Arial, Helvetica, Verdana, Tahoma, Sans-serif;
}

body {
    background: url("pool_table.png")repeat;
    margin: 0;
}

.btn {
  background-color: #768B6A;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fafaf0;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 20px;
}
.cta {
  margin: 30px 0;
}

.intro {
  margin-top: 10px;
  background-color: #33776C;
  border-radius: 25px;
  box-sizing: border-box;
  color: #fafaf0;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 20px;
}

header {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}

.product-description {
  border-top: 1px dotted #bbb;
  border-bottom: 1px dotted #bbb;
  color: #fafaf0;
  margin-top: 70px;
  margin-bottom: 50 px;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.features {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  color: #fafaf0;
}
.features .feature-row .feature span {
  margin: 0 auto;
}

.feature-row {
    overflow: hidden;
    margin-bottom: 50px;
}

.first {
  margin-right: 50px;
  width: 400px;
  float: left;
}

.second {
  margin-left: 50px;
  width: 400px;
  float: right;
}

footer {
  background-color: #768B6A;
  color: #fafaf0;
  margin-top: 2em;
  padding: 2em 0;
}
footer .section {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}
footer h4,
footer ul {
  margin-top: 0;
}
footer h4 {
  color: #5d5239;
  font-weight: bold;
}
footer a {
  color: #fafaf0;
}
footer p {
  padding: 10px;
  margin: 0;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer li {
  list-style-type: none;
  padding-bottom: 10px;
}

.col-sm-2 {
  margin-left: 50px;
  float: left;
}

.col-sm-6 {
  width: 500px;
  float: left;
}
